body {
    background-color: #facf9f;
}

p {
    text-align: center;
    font-family: Epilogue;
}

li {
    font-size: 150%;
    font-family: Epilogue;
    margin: 25px;
}

a:link {
    color: #02361f;
}

/* Visited link (after a user clicks it) */
a:visited {
    color: #02361f;
}

/* Mouse over link (when hovering) */
a:hover {
    color: #02361f;
}

/* Active link (the exact moment it is clicked) */
a:active {
    color: #02361f;
}

/* The container acts as the anchor point */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-img {
    display: block;
    width: 100%;
    height: auto;
}

/* The overlay image is forced to sit on top */
.overlay-img {
    position: absolute;
    width: 50%;     /* Size of your overlay image */
    z-index: 10;     /* Ensures it stays on top layer */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lefthand {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    position: relative;
}

.righthand {
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
    position: relative;
}

.split-row {
  display: flex;
  justify-content: space-between; /* Pushes items to opposite sides */
  align-items: center;            /* Perfectly centers them vertically */
}

.flex-menu {
  display: flex;          /* Aligns items horizontally */
  list-style-type: none;  /* Removes default bullet points */
  margin: 50px;              /* Removes default browser margins */
  padding: 0;             /* Removes default browser padding */
  gap: 0;              /* Adds consistent space between items */
}

.tickets {
    padding: 30px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #02361f;
}

.tickets:hover {
    background-color: #04653a;
}

@font-face {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Assets/Fonts/Epilogue/epilogue.woff2') format('woff2');
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('Assets/Fonts/Anton/anton.woff2') format('woff2');
}

